<table class="form-table">
    <tbody>
    <tr>
        <td>Eesnimi:</td>
        <td>
            <input id="name-input" ng-model="vm.newContact.name">
        </td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>
            <input id="phone-input" ng-model="vm.newContact.phone">
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <br>
            <a href id="save-link" ng-click="vm.submitContact()">Salvesta</a>
        </td>
    </tr>
    </tbody>
</table>