<input id="search-string" ng-model="vm.searchString">
</br>
</br>

<table class="list-table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Telefon</th>
        <th><a href ng-click="vm.removeContacts()" class="delete-link">Kustuta valitud</a></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in vm.contacts | filter : vm.filterContactList" ng-class="{ selected: contact.selected }">
        <td><a href="#/edit/{{ contact._id }}" class="edit-link">{{ contact.name }}</a></td>
        <td>{{ contact.phone}}</td>
        <td><a href ng-click="vm.removeContact(contact._id)" class="delete-link">Kustuta</a></td>
        <td><input type="checkbox" ng-model="contact.selected"></td>
    </tr>
    </tbody>
</table>