<table class="form-table">
    <tbody>
    <tr>
        <td>Eesnimi:</td>
        <td>
            <input id="name-input" [(ngModel)]="contactName">
        </td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>
            <input id="phone-input" [(ngModel)]="contactPhone">
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <br>
            <a href id="save-link" (click)="addNewContact(); false">Salvesta</a>
        </td>
    </tr>
    </tbody>
</table>