<table class="form-table">
    <tbody>
    <tr>
        <td>Eesnimi:</td>
        <td>
            <input *ngIf="contact" id="name-input" [(ngModel)]="contact.name">
        </td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>
            <input *ngIf="contact" id="phone-input" [(ngModel)]="contact.phone">
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <br>
            <a href id="save-link" (click)="updateContact(); false">Salvesta</a>
        </td>
    </tr>
    </tbody>
</table>