<input [(ngModel)]="searchString" id="search-string"/>
<br>
<br>

<table class="list-table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Telefon</th>
        <th></th>
        <th><a href (click)="removeContacts(); false" class="delete-link" id="delete-all-link">Kustuta märgistatud</a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let contact of contacts | search : searchString' [class]="contact.selected ? 'selected' : ''">
        <td><a routerLink="/edit/{{ contact._id }}" class="edit-link">{{ contact?.name }}</a></td>
        <td>{{ contact?.phone}}</td>
        <td><a href (click)="deleteContact(contact._id); false" class="delete-link">Kustuta</a></td>
        <td><input type="checkbox" [(ngModel)]="contact.selected"></td>
    </tr>
    </tbody>
</table>